/*Custom grid*/
.prepend-3dot5{padding-left:140px;}

/*Typography*/
a{text-decoration:none;}
a:focus, a:hover{color:#996600;text-decoration:underline;}
.type{
	color:#996600;
	/*font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;*/
	font-weight:bold;}/*special class added*/

/*-----------------------------------------Common---------------------------------------------*/

/* HEADER */

#header_wrapper,#content{background:#fff;}
#header_wrapper .black_bar{background:#2c2a25;}
#header{position:relative;}
#header span#header_logo{position:absolute;padding:65px 62px;top:10px;background:transparent url("../images/search128.png") no-repeat}
#header .web_title{padding-top:25px;padding-bottom:10px;}

.web_title a{
  width:304px;
  height:46px;
  background:transparent url("../images/big_title.png") no-repeat top center;
  display:inline-block;
  text-indent:-9999px;}

.web_title a:hover{background-position:3px -51px;}

.total_checked{/*margin-left:230px;*/
  background:#f7931e;/*#;99cc33*/
  float:right;
  /*margin-top:5px;*/
  /*font-size:1.0833em;*/
  /*color:#99cc33;*/
  /*font-weight:bold;*/
	/*margin-right:40px;*/
	padding:0 0.8333em;
	
}

/*.total_checked span{font-size:2em;}*/

/*BODY*/
#content_wrapper{background:#f0f0f0;}
#content{/*min-height:500px;*/padding:38px 0px;background:#fff;}


/*  Footer  */

#footer_wrapper{background:#2c2a25;padding:15px 0;}
#footer ul{
  color:#99cc33;
  margin:0;
  padding:0 10px;
  list-style-type:none;
  float:left;
	position:relative;
  height:130px;
  border-right:1px solid #555;}

#footer ul p{margin-bottom:0.75em;font-size:1.1667em;line-height:1.5;}  
#footer ul#footer_left p{margin-bottom:1.75em;}
#footer ul#footer_left{width:31%;border-left:1px solid #555;}
#footer_left a img{opacity:0.7;}
#footer_left a img:hover{opacity:1;}
#footer ul#footer_center{width:31%;background:transparent url("../images/panel.png") no-repeat center center;}
#footer ul#footer_right{width:31%;}
#footer ul li{display:inline;padding:0 3px;}
/*#footer ul li.share{font-size:1.5em;line-height:1;padding: 6px 10px 0 0;}*/
#footer a{color:#99cc33;text-decoration:none;}
#footer a:hover{color:#f0f0f0;text-decoration:underline;}

#footer p.note{padding:6px;font-size:1em;background:#f0f0f0;border:1px solid #99cc33;color:#555;width:94%;}
#feedback_link{cursor:pointer;}
#feedback_link:hover{text-decoration:underline;}
form#new_feedback{margin-bottom:6px;position:relative;display:block;}
#footer label{font-weight:normal;}
#feedback_email,#feedback_subject,#feedback_content{color:#222;width:96%;padding:3px 3px;margin:0.5em 0;/*border:2px solid #fff;*/}
#feedback_email:focus,#feedback_subject:focus,#feedback_content:focus{/*border:2px solid #f7931e;*/background:#99cc33;}
#feedback_email,#feedback_subject{border:none;}
#feedback_content{height:50px;}
#feedback_cancel{margin-left:10px;cursor:pointer;}
#feedback_cancel:hover{text-decoration:underline;}

/*Index*/
#index{padding:0px 20px;position:relative;overflow:hidden;}
.slogan{padding-top:30px;padding-left:10px;}

.down{margin-top:18px;}

.down div.fancy_input{background:transparent url("../images/file_input_bar.png") no-repeat center right;height:46px;}

.down div.fancy_input form{
  float:right;
  margin-right:20px;
  margin-top:10px;
  line-height:18px;
  }
  
.fancy_input input.input_text{
  border:1px solid #D0D0D0;
  color:#777777;
  font-size:1.1667em;
  line-height:1.5;
  padding:0.25em 0 0.25em 0.75em;
  width:370px;

  /*background:transparent url("../images/input_file.png") no-repeat top center;*/
  }

.charts_wrapper{float:right;}

#learn_more{
	overflow:hidden;}
	
#learn_more a.learn_more_button{
	display: block;
  float: left;
  text-decoration: none;
  outline:none;
	color:#f0f0f0;
  font-size:1.1667em;
	line-height:1.2857;
  font-weight:bold;
	background:transparent url(../images/learn_more_button.png) no-repeat scroll right center;
	cursor:pointer;
	margin-right: 6px;
  }

#learn_more a.learn_more_button:hover{color:#fff;text-decoration:underline;}
#learn_more .learn_more_button span{
	text-align:center;
	display: block;
	width:120px;
  padding:0.5em 0.75em;}

.fancy_input input.input_text:focus{/*background-position:bottom center;border:none;F7931E*/border-color:#99cc33;}

.fancy_input .input_text_button,#footer_center .input_text_button{
  background:transparent url(../images/input_file_button.png) no-repeat scroll right center;
  border:medium none;
  color:#F0F0F0;
  cursor:pointer;
  font-weight:bold;
  font-size:1.1667em;
  line-height:1.5;
  margin-left:-2px;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  padding:0.25em 0.5em;
  width:60px;
}

#footer_center .input_text_button{font-size:1em;line-height:1.5;margin-left:0;-moz-border-radius:2px;}

.fancy_input .input_text_button:hover,#footer_center .input_text_button:hover{color:#fff;}

.fancy_input span#check_yours{
  color:#FFFFFF;
  float:left;
  font-size:1.3333em;
  line-height:1.5;
  font-weight:bold;
  margin-left:45px;
  margin-top:10px;}

.fancy_input .file_input_link{float:right;}
.fancy_input .file_input_link span{width:70px;margin-right:20px;margin-top:10px;}

/*Stats*/
.intro{font-size:1.1667em;line-height:1.2857;color:#777;padding:0.75em 0.75em;border:1px solid #d5d5d5;}
.header_submit{float:right;}
.header_submit .fancy_input{margin-top:2%;margin-right:30px;}
.header_submit .fancy_input .input_text{width:275px;}
#stats,#results{
	padding:20px 20px;}

#stats .left,#results .left{padding-bottom:18px;}
#stats .left h2,#results .left h2{color:#996600;}
#stats .left img{border:2px solid #99cc33;}

#stats .right{padding-top:72px;font-size:1.1667em;}
#results .right{font-size:1.1667em;}
#stats .right p,#results .right p{padding-left:10px;color:#777;}

/*Show results*/
.results_title h2 span{font-size:0.65em;}

#results .right{padding-top:36px;}

.row.middle{border-top:1px solid #99cc33;}
.row .middle{border-left:1px solid #99cc33;border-right:1px solid #99cc33;}

.row ul{list-style-type:none;margin:0;}
.row ul li{
	float:left;
	font-size:1em;
	line-height:1.5;
	padding:0.25em 0.5em;
}

.provider,.version,.standards{ 
  border:1px solid #99cc33;
  background:#f0f0f0;
  position:relative;
  overflow:hidden;}

.provider{padding:0.75em;}

.version .row ul li{ 
  width:30%;
  height:18px;
  text-align:center;}
	
.standards .row ul li{
	text-align:left;
	width:55%;}
	
.standards .row ul li.start{
  border-right:1px solid #99cc33;
  width:30%;}

/*Right box*/






