/*Typography*/
h1.type{font-family:Georgia;color:#996600;}/*special class added*/


/*Custom grid*/
body{}
#header_wrapper,#content{background:#fff;}
#header_wrapper{padding-bottom:38px;}
#header_wrapper .black_bar{background:#2c2a25;}
#header{position:relative;}
#header span#header_logo{position:absolute;padding:65px 62px;top:10px;background:transparent url("../images/search128.png") no-repeat}
#header .web_title{padding-top:25px;padding-bottom:10px;}
.web_title a{
  width:304px;
  height:46px;
  background:transparent url("../images/big_title.png") no-repeat top center;
  display:block;
  text-indent:-9999px;}
.web_title a:hover{background-position:3px -51px;}
#content_wrapper{background:#fff;}
#content{min-height:500px;}
#content #left{padding-top:18px;}
#footer_wrapper{background:#2c2a25;padding:15px 0;}
#footer ul{color:#99cc33;margin:0;list-style-type:none;}
#footer ul li{float:left;padding:0 3px;}
#footer ul li.share{font-size:1.5em;line-height:1;padding: 6px 10px 0 0;}

/*Right box*/
.total_checked{margin-left:230px;background:#f7931e;text-align:right;padding-right:10px;}

.charts_wrapper{}

#down{margin-top:18px;}

#down div.fancy_input{background:transparent url("../images/file_input_bar.png") no-repeat center right;height:66px;}

#down div.fancy_input form{
	float:right;
	margin-right:20px;
	margin-top:15px;
	line-height:18px;
	}
	
.fancy_input input.input_text{
	/*background:transparent url("../images/input_file.png") no-repeat top center;*/
	border:1px solid #99cc33;
	height:24px;
	width:370px;
	padding:6px 0 0 10px;
	color:#777;
	font-size:16px;
  }
	
.fancy_input input.input_text:focus{/*background-position:bottom center;border:none;*/border-color:#F7931E;}

.fancy_input .input_text_button{
	background:transparent url("../images/input_file_button.png") no-repeat right center;
	color:#f0f0f0;
	outline:none;
	font-weight:bold;
	font-size:16px;
	height:32px;
	width:77px;
	margin-left:-2px;
	border:none;
	cursor:pointer;}
	
.fancy_input .input_text_button:hover{color:#fff;}

.fancy_input span{
	color:#FFFFFF;
	float:left;
	font-size:20px;
	font-weight:bold;
	margin-left:45px;
	margin-top:15px;}
