<div class="span-24">
  <div class="left span-9">
  	<h2><%= g[:title] %></h2>
    <p><%= g[:description] %></p>
  </div>
	<div class="right span-15 last">
		<%= image_tag g[:image], :title => g[:title] %>
	</div>
</div>
