<div class="span-23 last">
  <div class="left span-14 ">
    <h2><%= g[:title] %></h2>
		<%= image_tag g[:image], :title => g[:title] %>
  </div>

  <div class="right span-9 last">
  	
    <p><%= g[:description] %></p>
  </div>

</div>
