<% content_for :item_on_header do %>
  <%=render :partial=> "submit_uri"%>
<% end %>

<div id="stats" class="left span-23 last">
	<%= notification_area %>
	<% graphs(:title => nil,:append=>"&chma=30,30,30,30",:bg_color=>"f0f0f0",:size => '548x230',:chart_color => "f0f0f0" ).each do |g| %>
	  <%=render :partial=> "graphic_item",:locals=> {:g=>g}%>
	<%end%>
</div>