
<p id="feedback_link">Contact with us!</p>
<div id="feedback_form" style="display:none">
	<p class="note">
		We will try to answer as soon as possible. Please enter your email so we can contact you back. Thanks!
	</p>
	<% form_for Feedback.new do |f| %>
	  <%= render :partial => 'feedbacks/form', :object => f %>
	
	  <%= f.submit t('feedback.send'), :class=>"input_text_button" %>
		<span id="feedback_cancel"> Cancel </span>
	<% end %>
</div>
