<% content_for :head do %>
  <%= stylesheet_link_tag("openid", :media => "screen, projection") %>
  <%= javascript_include_tag("jquery.openid") %>
<% end %>

<% content_for :javascript do %>
  $("form.openid:eq(0)").openid();
<% end %>

<div class="aux_new">

	 <h2>Check your OpenID</h2>

   <%=render :partial=> "new_input"%>
	 
</div>
